html {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

#panel {
    height: 650px;
    width: 400px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    box-shadow: 10px 10px 20px hsl(212, 9%, 57%);
}

img {
    height: 360px;
    width: 360px;
    margin-top: 20px;
    border-radius: 25px;
}

#head {
    font-size: 30px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

#text {
    font-size: 20px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}